<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	{% block css %}{% end %}
	<link rel='stylesheet' href="{{static_url('index.html')}}">
	<title>{% block title %}Xray Decypher{% end %}</title>
</head>
<body>
	<div class='main'>
		{% block body %}
			<form method='POST' action='' enctype="multipart/form-data">
				{% module xsrf_form_html() %}
				<label for='shit'>Select x-ray input file</label>
				<input type='file' name='file' id='shit' required />
				<br />
				<input type='submit'>
			</form>
		{% end %}
	</div>
</body>
